html, body {
  height: 100%;
  width: 100%;
  background-image: url("angryimg.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
}

IMG.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -9em;
  width: 30em;
  height: 30em;
}

.logotext {
  display: block;
  font-family: sans-serif;
  color: white;
  font-size: 2.5em;
  text-align: center;
  padding-bottom: 10em;
  font-weight: bold;
}
.verse {
  font-family: sans-serif;
  color: black;
  background-color: white;
  width: 20em;
  
  border-color: white;
  border-style: solid;
  border-width: 5px;
  border-radius: 0.75em;
  
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
