html, body {
  height: 100%;
  width: 100%;
  background-image: url("angryimg.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

IMG.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30em;
  height: 30em;
}

.logotext {
  font-family: sans-serif;
  color: white;
  font-size: 2.5em;
  top: 10em;
  left: 14.65em;
  position: absolute;
}

.verse {
  font-family: sans-serif;
  color: black;
  background-color: white;
  left: 5em;
}
